<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weather">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_weather"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_weather_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".weather.WeathersPickDetailActivity" />
        <activity android:name=".weather.WeathersPickActivity" />
        <activity android:name=".codi.CodiDetailActivity" />
        <activity android:name=".codi.CodiActivity" />
        <activity
            android:name=".VoteActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".post.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".post.PostViewActivity" />
        <activity
            android:name=".post.PostWriteModifyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".post.PostWriteActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".post.PostActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".JoinActivity2"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".JoinActivity1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>