<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".PostViewActivity"></activity>
        <activity android:name=".PostWriteModifyActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".PostWriteActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".PostActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".JoinActivity1"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
    </application>

</manifest>